<!DOCTYPE html>
<html>
<head>
  <title>Personaje</title>
</head>
<body>
  <h1>Personaje</h1>
  <a href="/characters">Volver</a>
  <pre><%= JSON.stringify(personaje, null, 2) %></pre>
  
</body>
</html>